:root {
    --primary: #111b54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    /* background-image: url('../../public/img/login-people.jpg'); */
    background-color: var(--light);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    color: var(--primary);
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

html, body, .contenido {
    height: 100%;
    overflow-y: auto;
}

.contenido {
    height: calc(100% - 16px);
    width: 75%;
    padding: 8px;
    overflow-y: auto;
}

div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 40px;
    width: 40px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    
}

div.profileAvatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 300px;
    width: 300px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.editProfile {
    /* margin-left: 100px !important; */
}

.logo{
    height: 50%;
    width: 50%;
}

a:hover {
    text-decoration: none;
}

#sidebar-container a:hover {
    background: #091558;
}

.child-nav a:hover {
    background: var(--primary) !important;
}

.bg-primary { background-color: var(--primary) !important;}

#sidebar-container {
    min-height: 100vh;

    height: 100%; /* Full-height: remove this if you want "auto" height */
    /* width: 160px; Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #111; Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#sidebar-container .logo-leftbar {
    padding: .875rem 1.25rem;
}

#sidebar-container .sidebar-menu {
    width: 14rem;
}

.conocimientoInformatico{
    margin-bottom: -16px;
}

.parent-nav:after {
	content: "\f078"; /* Icono de flecha hacia arriba */
	font-family: FontAwesome;
}

.parent-nav.collapsed:after {
	content: "\f053"; /* Icono de flecha hacia abajo */
	font-family: FontAwesome;
}

